<main>
  <div class="container">
    <div class="row">
      {{#each results}}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://materializecss.com/images/sample-1.jpg">
            <span class="card-title">{{result.title}}</span>
            <a class="btn tooltipped btn-floating halfway-fab waves-effect waves-light red" data-position="bottom" data-tooltip="save article">
              <i class="material-icons">add</i>
            </a>
          </div>
          <div class="card-content">
            <p>{{this.title}}</p>
          </div>
        </div>
      </div>

      {{/each}}


    </div>
</main>