<main>
  <div class="container">
    <div class="row">

     {{#each results}}
      <div class="col s12 m4">
        <div class="card grey lighten-4">
          <div class="card-content">
             <a href="{{this.link}}"><span class="card-title">{{this.title}}</span></a>
             <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
           <div class="card-action">
              <a href="#">Save Article</a>
              <a href="#">Delete</a>
            </div>
        </div>
      </div>
      {{/each}}
    </div>
</main>