<!DOCTYPE html>
<html lang="en">


<head>
  <title>Article Scraper</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC" rel="stylesheet"> 
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>


<body>
<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Mongo Scraper</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/saved.html">Saved Articles</a></li>
            <a href='/scrape' id="submit" class="waves-effect waves-light btn-large"><i class="material-icons left">list</i>Scrape New Articles!</a>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="parallax-container">
  <h2>New York Times Articles Scraper</h2>
  <h3>Save your favorite articles by pressing the + sign</h3>
  <div class="parallax">
    <img src="assets/images/newyork-times-scraper.jpg"></div>
</div>

<main>
 <div class="container">
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://materializecss.com/images/sample-1.jpg">
          <span class="card-title">{{this.title}}</span>
          <a class="btn tooltipped btn-floating halfway-fab waves-effect waves-light red" data-position="bottom" data-tooltip="save article"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
        <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://materializecss.com/images/sample-1.jpg">
          <span class="card-title">{{this.title}}</span>
          <a class="btn tooltipped btn-floating halfway-fab waves-effect waves-light red" data-position="bottom" data-tooltip="save article"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
        <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://materializecss.com/images/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn tooltipped btn-floating halfway-fab waves-effect waves-light red" data-position="bottom" data-tooltip="save article"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
 </div>
</main>

<div id="articles"></div>
<div id="notes"></div>


<footer class="page-footer">
    <div class="container"><p>© 2018 Marina's Article Scraper</p></div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>